<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a id="home_link" class="navbar-brand" href="<%= root_path %>">
        <img alt="Brand" width="25px" src="<%= asset_path('icon_letter_N_blue.png') %>">
      </a>
    </div>
  </div>
</nav>